body{
  font: 15px/1.5 montserrat, montserrat-regular,sans-serif;
  padding:0;
  margin:0;
  background-color: #000000;
}

.hero{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  align-items: center;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.content{
  align-items: center;
  position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}

h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
  position: relative;
	z-index: 2;
}

h2{
	color: #830808;
	font-size: 25px;
  position: relative;
	z-index: 2;
}

h3{
	color: white;
	font-size: 25px;
  align-items: center;
  position: relative;
	z-index: 2;
}

h4{
	color: #ffffff;
	font-size: 20px;
  position: relative;
	z-index: 2;
}

span{
	color: #830808;
}

ul{
  margin:0;
  padding:0;
}

/* button */
.btn-neon{
  position: relative;
  display: flex;
  padding: 4.5px 20px;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden;
  transition: 0.2s;
}

.btn-neon:hover{
  background: #830808;
  box-shadow: 40px 0 0 #830808, 40px 0 0 #830808, 20px 0 0 #830808, 20px 0 0 #830808;
  transition-delay: 1s;
}
.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#830808);
}
.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#830808);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#830808);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#830808);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* Header **/
header{
  background:#00000000;
  color:#ffffff;
  font-weight: bold;
  border-bottom:#830808 3px solid;
  position: relative;
  z-index: 2;
}

header a{
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  position: relative;
  z-index: 2;
}

header li{
  float:left;
  display:inline;
  padding: 20px 20px 20px 20px;
  position: relative;
  z-index: 2;
}

header #branding{
  float:left;
  margin-top: 10px;
  margin-bottom: 0px;
 position: relative;
  z-index: 2;
}

header #branding h1{
  margin: -10px;
  display: inline;
  align-content: center;
}

header nav{
  float:right;
  margin-top:10px;
  box-sizing: border-box;
}

header .highlight, header .current a{
  color:#830808;
  font-weight:bold;
}

header a:hover{
  color:#8308087e;
  font-weight:bold;
}

/* text */

.deconstructed {
  position: relative;
  margin: auto;
  height: 0.71em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 30;
  left: 0;
  right: 0;
  bottom: 0;
  color: #830808;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}


/* Showcase */
#showcase{
  min-height:100vh;
  background-position: relative;
  background-size: cover;
  text-align:center;
  color:#ffffff;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width:100%;
      margin:auto;
  position: relative;
  z-index: 2;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}


/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#000000;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

#newsletter .btn-neon {
  float:right;
}


/* card */

.container .card{
  position: relative;
  cursor: pointer;
  margin-top: -10px;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #830808;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.5;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 100;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background: #101010;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #830808;
  padding: 5px;
  border: 1px solid #83080800;
}

.container .card .face.face2 .content a:hover{
  background: rgba(51, 51, 51, 0);
  font-weight: 900;
  color: #fff;
}

/* image hero */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  max-width: 1920px;
  font-size: 0;
}

.hero-item,.hero-item2,
.standard-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-item {
  background:url('../img/event01.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-item2 {
  background:url('../img/event03.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-item3 {
  background:url('../img/event05.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}


@supports (display: grid) {
  
  .hero-item {
    grid-column: 1 / span 2;
    grid-row: 1 / 50;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  }
}

.hero-item2 {
  grid-column: 1 / span 2;
  grid-row: 1 / 50;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
}

.hero-item3 {
  grid-column: 1 / span 2;
  grid-row: 1 / 50;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
}

/* image zoom grid */

.image-grid-container 
  {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .trans
  {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  .top
  {
    display: flex;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
  }
  .top ul
  {
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
  }
  .top ul li
  {
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    overflow: hidden;
  }
  
  .top ul li::before
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    color: white;
    opacity: 0.4;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  .top ul li:hover::before
  {
    opacity: 0;
    background-color: rgba(0,0,0,0.90);
  }
  .top ul li img
  {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .lightbox
  {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
  }
  .lightbox img
  {
    max-width: 90%;
    max-height: 80%;
    position: relative;
    top: -100%;
    /* Transition */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  .lightbox:target
  {
    outline: none;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
  }
  .lightbox:target img
  {
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* blockquote */

  .marginauto {
    margin: 10px auto 20px;
    display: block;
}
  /* contact-form */

  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, #000 0%, #000 100%);
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #830808;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #830808;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #830808;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #830808;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #fff;
  }

/* footer */

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#830808;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
